<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<meta charset="UTF-8">
	</head>
	<body>
		<h1>Cheltuieli </h1>
		<nav>
			<a href="/add">Adauga cheltuiala</a>
			<a href="/logout">Logout</a>
		</nav>
		<br>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>USER ID</th>
					<th>SUMA</th>
					<th>DESCRIERE</th>
					<th>DELETE</th>
					<th>UPDATE</th>
				</tr>
			</thead>
			<tbody>
				{% for cheltuiala in listaCheltuieli %}
				<tr>
					<td>{{ cheltuiala.id }}</td>
					<td>{{ cheltuiala.userID }}</td>
					<td>{{ cheltuiala.suma }}</td>
					<td>{{ cheltuiala.descriere }}</td>
					<td>
						<form method="POST" action="/delete/{{cheltuiala.id}}">
							<button type="submit">Delete</button>
						</form>
					</td>
					<td>
						<form method="GET" action="/update/{{cheltuiala.id}}">
							<button type="submit">Update</button>
						</form>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p> Total cheltuieli: {{ total }} </p>
	</body>
</html>

