<!DOCTYPE html>

<html>
<head>
	<title>Register</title>
	<meta charset="UTF-8">
</head>
<body>
	<form method="POST" action="/createAccount">
		<label for="firstName">First name: </label>
		<input type="text" name="firstName" /><br>
		
		<label for="lastName">Last name: </label>
		<input type="text" name="lastName" /><br>
		
		<label for="username">Username: </label>
		<input type="text" name="username" /><br>
		
		<label for="password">Password: </label>
		<input type="password" name="password" /><br>

		<input type="submit" value="Register" />
	</form>
</body>
</html>
